/* Task_1 */
.box {
    height: 100px;
    width: 100px;
    background-color: rgb(56, 217, 220);
    margin: 10px;
    text-align: center;
    border: 0.5px solid black;
}

/* Task_2 */
.content {
    color: red;
    font-size: 20px;
    font-weight: bold;
}

.newClass {
    background-color: greenyellow;
}